
.container-full{
    align-items: center;
    height:100vh;
    width: 100vw;
    display: flex;
justify-content: space-between;    
}

.forms{
    width: 400px;  
    padding: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 20px;
   box-shadow: 2px 2px 2px 2px rgba(0px, 0px, 0px, .6);
  
}
.form-full{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.form-full h3{
    color: #075183;
    text-align: center;

}
.form-full h3 strong{
    color:#317daf ;
}
.form-control{
   max-width: 500px;
    width: 100%;
    box-shadow: none;
    outline: none;
}
.form-control:focus{
     border: 1px solid  #075183;
}
.btn-send{
    width: 100%;
    background: linear-gradient( #0e76bb , #075183) ;
    border: none;
    box-shadow: none;
    color: white;
    transition: background .3s ease-in;
}
.btn-send:hover{
    background: white;
    border: 1px solid  rgb(7, 81, 131);
    color: black;
}
.btn-send:focus{
    background:  rgb(7, 81, 131);
    color: white;
}

.img-chats{
    display: none;
    justify-content: center;
    max-width: 500px;
    width: 100%;
}
@media(min-width: 700px){
.img-chats{
    display: block;
    margin-right: 60px;
}
.form-full{
    max-width: 500px;
}


}
