.hab{
    width: 100%;
    position: absolute;
    bottom: 54px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.form-input{
    padding-left: 20px;
    width: 100%;
    max-width: 400px;
    margin-right: 20px;
    border-radius: 10px;
    height: 50px;
    border: 1px solid black;
    outline: none;
}
.form-input:focus{
    border: 1px solid  #075183;
}

 h3{
     font-size: 3.5rem;
    color: #075183;
    text-align: center;

}
h3 strong{
    color:#317daf ;
}
.rounded {
    background: #075183;
  
}
.media-body{
    padding-right: 40px;
}
.btn{
    padding: 10px;
    width: 100%;
    max-width: 100px;
    height: 49px;
    color:#075183;
    background: white;
    border: 1px solid  #075183;
    transition: ease-in .3s;
    margin-top: 50px;
}
.btn:hover{
  background: rgb(224, 224, 224);
  
}
.btn:focus{
    box-shadow: none;
}
.send{
    max-width: 20px;
    margin-left:.5rem;
}
.res{
    justify-content: right;
    text-align: right;
}
.pro-res{
    width: 300px;
    border-radius: 20px;
    background: #075183;
    padding: 15px;
}
@media(min-width: 540px){
.btn{
margin-top: auto;
}
}