.hab{
    width: 100%;
    position: absolute;
    bottom: 54px;
    text-align: center;
    justify-content: center;
}
.form-input{
    padding-left: 20px;
    width: 100%;
    max-width: 400px;
    margin-right: 20px;
    border-radius: 10px;
    height: 50px;
    border: 1px solid black;
    outline: none;
}
.form-input:focus{
    border: 1px solid  #075183;
}
.btn{
    padding: 10px;
    width: 100%;
    max-width: 100px;
    height: 49px;
    color:#075183;
    background: white;
    border: 1px solid  #075183;
    transition: ease-in .3s;
}
.btn:hover{
  background: rgb(224, 224, 224);
  
}
.btn:focus{
    box-shadow: none;
}
.send{
    max-width: 20px;
    margin-left:5px ;
}